mixin display_articles(articles)
	if Array.isArray(articles) && articles.length > 0
		ul
			each article in articles
				li
					a(href=formatURL(article.url))= article.data.title
	else
		span No articles yet
